Package: enigma2-plugin-extensions-epanel
Version: 5.3-r7
Description: E Panel for OpenPli by 2boom
Section: base
Priority: optional
Maintainer: 2boom (Igornord - sh4)
License: GPL
Architecture: sh4
Depends: softcam-support, busybox-cron, ntpdate, update-rc.d
Homepage: 4bob@ua.fm
