Package: enigma2-plugin-softcams-oscam
Version: 1850
Description: Oscam cardserver-softcam by yuriks
Section: base
Priority: optional
Maintainer: Igornord (sh4)
Depends: cardserver-support
Architecture: sh4
