Package: enigma2-plugin-systemplugins-simplesatscan
Version: 0.8
Description: Satellite scan with satfinder
Section: base
Priority: optional
Architecture: sh4
Maintainer: vlamo <vlamo@ukr.net>
Homepage: http://dream.altmaster.net
